@font-face {
  font-family: "Arimo-Regular";
  src: url("./fonts/Arimo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arimo-Bold";
  src: url("./fonts/Arimo-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
/*-----------------normalize start----------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*-----------------normalize end----------------*/
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --width-max: 1024px;
  --width-min: 320px;

  --width-photo: 37rem;
  --width-project-photo: 12rem;

  --icons-height: 3.2rem;

  --color-dark-blue: rgba(69, 75, 115, 1);
  --color-lite-blue: rgba(220, 226, 242, 1);
  --color-lite-blue-opasity: rgba(220, 226, 242, 0.9);
  --color-background: rgba(229, 234, 245, 1);
  --color-pink: rgba(251, 214, 215, 1);

  --color-shadow: rgb(0, 0, 0, 0.1);

  --font-size-superbig: 5rem;
  --font-size-big: 3.2rem;
  --font-size-medium: 2.4rem;
  --font-size-normal: 1.8rem;

  --font-weight-bold: 900;
  --font-weight-normal: 400;

  --height-title-border: 5rem;

  --margin-right-left: 1rem;
  --margin-bottom-big: 3rem;
  --margin-bottom-normal: 2rem;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
html {
  font-size: 10px;
}
body {
  font-family: "Arimo-Regular", Arial, sans-serif;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-normal);
  line-height: 1.8;
  color: var(--color-dark-blue);
  background-color: var(--color-background);
}
body.lock {
  overflow: hidden;
}
.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: var(--width-max);
  min-width: var(--width-min);
  background-color: white;
  overflow: hidden;
  box-shadow: 10px 10px 40px -1px rgb(0 0 0 / 23%);
}
.content-wrapper {
  padding: 1rem 3rem;
}
/**----------------TITLES--------------*/
.superbig-title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-superbig);
  text-shadow: 3px 3px var(--color-shadow);
  text-align: center;
}
.big-title {
  font-size: var(--font-size-big);
  color: var(--color-dark-blue);
  text-shadow: 2px 2px var(--color-shadow);
  text-align: center;
}
.title-h3 {
  font-size: var(--font-size-big);
  line-height: var(--font-size-big);
  text-shadow: 2px 2px var(--color-shadow);
}
.title-h4 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
  text-shadow: 1px 1px var(--color-shadow);
}
/*RECTANGLE-TITLE*/
.title__wrapper {
  position: relative;
  height: var(--height-title-border);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-dark-blue);
  white-space: nowrap;
  margin-bottom: var(--margin-bottom-big);
}
.title__text {
  position: relative;
}
.title-wrapper__triangle {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 0;
  height: 0;
}
.title__wrapper .triangle--pink {
  border-top: calc(var(--height-title-border) - 6px) solid var(--color-pink);
  border-right: 200px solid transparent;
}
.title__wrapper .triangle--blue {
  border-top: calc(var(--height-title-border) - 6px) solid var(--color-lite-blue);
  border-right: 200px solid transparent;
}
/**----------------DECORATIONS--------------*/
.triangle {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0;
  height: 0;
  border-top: calc(var(--width-max) / 3) solid var(--color-lite-blue);
  border-right: calc(var(--width-max) / 1.5) solid transparent;
}
/**--------------------HEADER START----------------*/
.main {
  padding-top: 1rem;
}
.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8rem;
}

/*скрываем по умолчанию*/
.menu__icon {
  display: none;
}
.menu__list li {
  margin-right: 1.5rem;
}
.menu__link {
  font-size: var(--font-size-medium);
  color: var(--color-dark-blue);
}
.menu__link:hover,
.menu__link:active {
  text-decoration: underline;
}
.header__contacts {
  z-index: 5; /*чтобы было выше плашки*/
}
.contacts__list {
  display: flex;
  align-items: center;
}
.contacts__list li {
  padding: 10px 0;
  margin: 0px 0px 0px 20px;
}
.icon {
  font-size: var(--icons-height);
  color: var(--color-dark-blue);
}
.icon:hover {
  color: var(--color-pink);
  transition: 0.3s linear;
}
.icon:active {
  color: var(--color-lite-blue);
}
/**--------------------HEADER END----------------*/
/**--------------------ABOUT ME START------------*/

.about-me .about-me__wrapper {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: var(--margin-bottom-normal);
}
main .about-me {
  margin-bottom: var(--margin-bottom-normal);
}
.about-me__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-me__photo-container {
  margin-right: 2rem;
}
.photo-container {
  position: relative;
}
.photo-container__circle-line {
  position: absolute;
  width: calc(var(--width-photo) + 3px);
  height: calc(var(--width-photo) + 3px);
  border-radius: 50%;
}
.photo-container__circle-line--left {
  /*элемент*/
  left: 0px;
  top: -21px;
  background: white;
}
.photo-container__circle-line--right {
  left: -20px;
  z-index: 3;
  border: 1px solid var(--color-dark-blue);
}
.my-photo {
  position: relative;
  width: var(--width-photo);
  border: 1rem solid var(--color-pink);
  border-radius: 50%;
}
.about-me__name {
  flex: 1.5;
  padding: 0 2rem;
}
.name-container__subtitle--small {
  text-align: end;
}
/**--------------------ABOUT ME END------------*/
/**--------------------TWO-COLUMNS START------------*/
.two-columns {
  display: flex;
}
.two-columns--left {
  width: 55%;
  margin-right: 2rem;
}
.two-columns--right {
  width: 45%;
}

section {
  margin-bottom: var(--margin-bottom-big);
}
/**--------------------SKILLS START------------*/
.skills__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills-item__text {
  text-align: center;
  margin-right: var(--margin-right-left);
}
.progress {
  display: flex;
  height: 1rem;
  flex-basis: 50%;
  background-color: var(--color-pink);
}
.my-progress {
  background-color: var(--color-dark-blue);
}
.skills__item--html .my-progress {
  flex-basis: 70%;
}
.skills__item--figma .my-progress {
  flex-basis: 70%;
}
.skills__item--webpack .my-progress {
  flex-basis: 50%;
}
.skills__item--git .my-progress {
  flex-basis: 70%;
}
.skills__item--javascript .my-progress {
  flex-basis: 70%;
}
.skills__item--typescript .my-progress {
  flex-basis: 25%;
}
.skills__item--redux .my-progress {
  flex-basis: 50%;
}
.skills__item--react .my-progress {
  flex-basis: 50%;
}
.skills__item--english .my-progress {
  flex-basis: 50%;
}
.skills__item--russian .my-progress {
  flex-basis: 100%;
}
.skills__item--polish .my-progress {
  flex-basis: 25%;
}
/**--------------------SKILLS END------------*/
/**--------------------EDUCATIONS START------------*/
.education__item:not(:last-child) {
  margin-bottom: var(--margin-bottom-normal);
}
.education-item__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--margin-bottom-normal);
}
.education-item__title .title-h4 {
  margin-right: var(--margin-right-left);
}
.education-year {
  text-align: center;
  border-bottom: 0.8rem solid var(--color-pink);
}
/**--------------------EDUCATIONS END------------*/
/**--------------------PROJECTS START------------*/
.my-projects__technologies {
  text-align: center;
  margin-bottom: 1.5rem;
}
.my-projects__list {
  display: flex;
}
.my-projects__item {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--color-lite-blue);
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}
.my-projects__item:first-of-type {
  margin-right: 2rem;
}
.my-projects__item a {
  display: flex;
  align-items: center;
}
.my-projects__description {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
  max-width: 60%;
  height: 18rem;
  overflow: auto;
}
.project-img {
  max-width: 100%;
  height: auto;
  border: 0.8rem solid var(--color-pink);
  border-radius: 50%;
}
.project-img:hover {
  border-color: var(--color-lite-blue);
  transition: 0.5s linear;
}
/**--------------------PROJECTS END------------*/
/**--------------------CODE EXAMPLE START------------*/
.hljs {
  background-color: var(--color-lite-blue);
  color: var(--color-dark-blue);
  font-size: 1.2rem;
  box-shadow: 5px 5px 20px -1px rgb(0 0 0 / 23%);
  padding: 0 0 0 22%;
}
/**--------------------CODE EXAMPLE END------------*/
/**--------------------HOBBIES START------------*/
.hobbies__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.hobbies__item {
  font-size: var(--icons-height);
  color: var(--color-dark-blue);
}
/**--------------------HOBBIES END------------*/
/**--------------------CONTACTS START------------*/
.contacts__list-wrapper {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contacts__item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.contacts__item .icon {
  margin-right: 2rem;
}
/**--------------------CONTACTS END------------*/
/**--------------------FOOTER START------------*/
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: var(--color-lite-blue);
}
.contact-lincs__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__contact-lincs .icon-github {
  margin-right: 2rem;
}
.footer__contact-lincs .icon-github span {
  font-size: var(--font-size-normal);
}
.footer__contact-lincs .icon-github::before {
  margin-right: 1rem;
}
.logo-school {
  width: 80px;
  fill: blueviolet;
}

@media screen and (max-width: 767px) {
  :root {
    --width-photo: 300px;

    --font-size-superbig: 4rem;
    --font-size-big: 3rem;
    --font-size-medium: 2.2rem;
    --font-size-normal: 1.6rem;
  }
  .about-me__photo-container {
    margin: 0 auto;
  }
  .footer__wrapper {
    flex-direction: column;
  }
}
/*стили-меню для экрана больше 767px*/
@media screen and (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list li {
    padding: 10px 0;
  }
}
@media screen and (max-width: 850px) {
  .education-item__title {
    flex-direction: column;
    align-items: flex-start;
  }
}
/*стили-меню для экрана меньше 767px (бургер)*/
@media screen and (max-width: 767px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 0 2rem;
  }
  .main {
    padding-top: 11rem;
  }
  .menu__icon {
    display: block;
    z-index: 5; /*чтобы было выше плашки*/
    position: relative;
    width: 30px;
    height: 20px;
    background-color: white;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    position: absolute;
    left: 0;
    height: 10%; /*10% от родителя*/
    width: 100%;
    background-color: var(--color-dark-blue);
    transition: all 0.3s ease 0s;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon.active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    z-index: 4;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--color-lite-blue-opasity);
    padding: 100px 30px 30px 30px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body.active {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 8rem;
    background-color: white;
    border-bottom: 1px solid var(--color-lite-blue);
  }
  .menu__list li {
    margin: 0px 0px 2rem 0px;
  }
  .menu__list li:last-child {
    margin: 0;
  }
  .menu__link {
    font-size: var(--font-size-superbig);
  }
  .title__wrapper {
    margin: 0 auto;
    margin-bottom: var(--margin-bottom-normal);
  }
  .about-me__wrapper {
    flex-direction: column;
  }
  .my-projects__list {
    flex-direction: column;
  }
  .my-projects__item {
    width: 100%;
  }
  .my-projects__description {
    height: 17rem;
  }
  .hljs {
    padding-left: 5%;
  }
}
@media screen and (max-width: 630px) {
  .two-columns {
    flex-direction: column;
  }
  .two-columns--left {
    width: 100%;
  }
  .two-columns--right {
    width: 100%;
  }
  .education-item__title {
    flex-direction: row;
  }
  .contacts-link {
    display: block;
  }
}
@media screen and (max-width: 420px) {
  :root {
    --width-photo: 250px;
    --font-size-superbig: 2.8rem;
    --font-size-big: 2rem;
    --font-size-medium: 1.8rem;
    --font-size-normal: 1.6rem;
    --margin-bottom-big: 2rem;
    --margin-bottom-normal: 1.5rem;
    --height-title-border: 3.5rem;
  }
  .content-wrapper {
    padding: 1rem 2rem;
  }
  .footer__wrapper {
    padding: 1rem 2rem;
  }
  .two-columns--left section,
  .two-columns--right section {
    margin-bottom: 15px;
  }
}
